{% extends 'base.html.twig' %}
{% block body %}
    <h1>All events</h1>

    <table>
        <thead>
        <tr>
            <th>Date d'evenements</th>
            <th>Clôturée</th>
            <th>Inscrit / Lieu</th>
            <th>Etat</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.beginDate|date('d/m/Y H:i') }}</td>
                <td>{{ event.endDate }}</td>
                <td>{{ event.register }} / {{ event.maxRegister }}</td>
                <td>{{ event.status }}</td>
                <td>{{ event.organiser.firstname }} {{ event.organiser.lastname }}</td>
                <td>
                    <a href="{{ path('events_show') }}">Afficher</a>
                    <a href="{{ path('events_update') }}">Modifier</a>
                    <a href="{{ path('events_outing') }}">Se désister</a>

                </td>
            </tr>
{#        {% else %}#}
{#            <tr>#}
{#                <td>pas d'évenement</td>#}
{#            </tr>#}
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href={{ path('events_create') }}><button type="submit" >Créer une sortie</button></a>
    </div>
{% endblock %}
