{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler la sortie : {{ event.name }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="container-btn">
        <button>Confirmer l'annulation</button>
    </div>
    {{ form_end(form) }}
    <div class="container-illustration">
        <img src="{{ asset('images/umbrella-panda-red-panda.png') }}" alt="panda and red panda under an umbrella">
    </div>
{% endblock %}
