{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block body %}
<h2>Détails de la sortie</h2>
<div>Nom de la sortie : {{ event.name }}</div>
<div>Date et heure de la sortie : {{ event.beginDateEvent | date('d/m/Y H:m') }}</div>
<div>Date et heure de fin de la sortie : {{ event.endDate | date('d/m/Y H:m') }}</div>
<div>Date limite d'inscription à la sortie : {{ event.limitDateRegistration | date('d/m/Y H:m') }}</div>
<div>Nombre de places : {{ event.registrationMaxNb }}</div>
<div>Campus : {{ event.campus.name }}
    <div>Lieu : {{ event.place.name }}</div>
    <div>Rue : {{ event.place.street }}</div>
    <div>Code postal : {{ event.place.city.zipcode }}</div>
    <div>Longitude : {{ event.place.longitude }}</div>
    <div>Latitude : {{ event.place.latitude }}</div>

    <h2>Liste des personnes inscrites à la sortie</h2>
        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for user in event.participants %}
            <tr>
                <td>{{ user.username }}</td>
                <td><a href={{ path('user_show', {'id': user.id}) }}>{{ user.firstname }} {{ user.lastname }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th>Nombre total de participant·e·s</th>
            <td>{{ event.participants.count }} / {{ event.registrationMaxNb }}</td>
            </tfoot>
        </table>


    <div>
            {% if app.user and (app.user == event.organiser or is_granted('ROLE_ADMIN')) %}
                {% if event.status.description != 'Ouverte' %}

                    <form action="{{ path('events_publish', {'id': event.id}) }}" method="post">
                    <button type="submit">Publier la sortie</button>
                </form>
                {% endif %}
{#                {% if event.status.description == 'En cours' %}#}
                <form action="{{ path('events_delete', {'id': event.id}) }}" method="post">
                    <button type="submit" onclick="return confirm('la sortie sera supprimmer definitivement ?')">Supprimer la sortie</button>
                </form>
                    {% endif %}
                {% if event.status.description == 'Ouverte' %}
                <form action="{{ path('events_cancel', {'id': event.id}) }}" method="post">
                    <button type="submit" onclick="return confirm('Etes vous sûr de vouloir supprimer cette sortie ?')">Annuler la sortie</button>
                </form>
                {% endif %}
                {% if event.status.description == 'Annulée' %}

{#            {% endif %}#}
        {% endif %}

        </div>

    {% endblock %}
