{% extends 'base.html.twig' %}

{% block body %}
    <div class="rowToColumnSmartphone">
        <div>
            <h2>Gérer les campus</h2>
            <table class="table-fit-width">
                <thead>
                <tr>
                    <th>Nom de campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campus in listCampus %}
                    <tr>
                        <td>{{ campus.name }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('campus_update', {'id': campus.id}) }}">
                                    Modifier
                                </a><br>
                                <a href="{{ path('campus_delete', {'id': campus.id}) }}"
                                   onclick="return confirm('Etes-vous sûr de vouloir supprimer ce campus ?')">
                                    Supprimer
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h2>Ajouter/Modifier un campus</h2>
            {{ form_start(form) }}
            <div class="display-column-centered">
                {{ form_widget(form.name) }}
                <button>
                    {% if app.request.attributes.get('_route') == 'campus_update' %}
                        Modifier
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="container-illustration sticky-illustration">
        <img src="{{ asset('images/guitar-red-panda.png') }}" alt="red panda with a guitar">
        </div>
    </div>
{% endblock %}
