<a href="{{ path('events_list') }}">
    <div class="display-row">
    <img class="logo" src="{{ asset('images/image-profil-defaut.png') }}" alt="logo">
<img class="logo" src="{{ asset('images/logo-titre-mma-violet-profond.png') }}" alt="titre">
    </div>
</a>
<nav>
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a>Villes</a></li>
            <li><a>Campus</a></li>
            <li><a href="{{ path('user_create') }}">Créer un utilisateur</a></li>
        {% endif %}
        {% if app.user %}
            <li><a href="{{ path('user_listUser') }}">list des utilisateur</a></li>
            <li><a href="{{ path('events_list') }}">Liste des sorties</a></li>
            <li class="noSmartphone"><a href="{{ path('events_create') }}">Créer une sortie</a></li>

            <li><a href="{{ path('events_my_Events') }}">Les sorties que j'organise</a></li>

            <li><a href="{{ path('user_update') }}">🦝 {{ app.user.username }} (profil)</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</nav>
