<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SortirMMA.com{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('images/racoon-favicon.png') }}" type="image/x-icon">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
{#        <script src="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/postcss.config.min.js"></script>#}
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        {#            <a href="{{ path('main_home') }}"> #}
        {#                <img src="{{ asset('images/logo.svg') }}"> #}
        {#            </a> #}
        {% include'views/nav/nav.html.twig' %}
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block image %}{% endblock %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include 'views/nav/footer.html.twig' %}
    </footer>
</div>
</body>
</html>
