{% extends 'base.html.twig' %}
{% block body %}
    <div class="rowToColumnSmartphone">
        <div>
            {% if  user.image %}
                <img src="{{ asset('assets/images/profileImages/' ~ user.image) }}" alt="{{ user.username }}">

            {% else %}
                <img src="{{ asset('images/image-profil-defaut.png') }}" alt="{{ user.username }}">
            {% endif %}
        </div>
        <div>
            <h2>{{ user.username }}</h2>
            <div>Prénom : {{ user.firstname }}</div>
            <div>Nom : {{ user.lastname }}</div>
            <div>Numéro de téléphone : {{ user.phoneNb }}</div>
            <div>Adresse mail : {{ user.email }}</div>
            <div>Campus : {{ user.campus.name }}</div>
        </div>
    </div>
{% endblock %}
