{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mise à jour du profil
{% endblock %}

        {% block image %}
        {% endblock %}

        {% block body %}
            <div class="rowToColumnSmartphone">
                <div>
                    {% if app.user.image %}
                        <img src="{{ asset('assets/images/profileImages/' ~ app.user.image) }}"
                             alt="{{ app.user.username }}">
                    {% else %}
                        <img src="{{ asset('images/jumping-joyful-red-panda.png') }}" alt="profil">
                    {% endif %}
                </div>
                <div>
                    {{ form_start(ProfileType) }}
                    {{ form_widget(ProfileType) }}
                    <div class="container-btn">
                        <button>Modifier</button>
                    </div>
                    {{ form_end(ProfileType) }}
                </div>
            </div>
        {% endblock %}


